{{#if hayProductos}}
<ul>
    {{#each products as |product|}}
    <li>
        <p>({{product.cuenta}}){{product.nombre}}</p>
        <form action="/delete-cart-product" method="POST">
            <button type="submit" class="btn"> Borrar</button>
            <input type="hidden" name="cartProduct" value="{{product.id}}">
        </form>
    </li>
    {{/each}}
</ul>
<div class="centered">
    <form action="/create-order" method="POST">
        <button type="submit" class="btn">Pagar!</button>
    </form>
</div>
{{else}}
<h1>No hay ningun producto en el carrito</h1>
{{/if}}